.services {
    margin-top: 60px;
}


.header_burger{
    display: none;
}

.main-banner {
    background:
     linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
     url('https://c.pxhere.com/photos/c2/81/America_HD_Wallpaper_Nyc_Usa-1615931.jpg!d');
    background-size: cover;
    aspect-ratio: 1440/768;
    padding: 190px 0;
}

.main-banner__wrapper {
    display: grid;
    grid-template-columns: 50% 1fr;
}

.main-banner__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.main-banner__content h1 {
    font-size: 64px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    color: white;
}
.dash{
    color: #ffffff;
    font-size: 400px;
}


.main-banner__content h3 {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Gilroy', sans-serif;
    color: #ffffff;
    
}
.main-banner__content button {
    background: #FFC957;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 80px;
    border: none;
}

.main-banner__social {
    display: flex;
    align-items: center;
    justify-content: end;
}

.main-banner__social-items {
    display: flex;
    flex-direction: column;
    gap: 60px;
}




